<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="includes/base :: css"></head>
    <body>
        <header th:replace="includes/base :: navbar"></header>

        <main role="main " class="container">
            <div th:replace="includes/base :: head-content"></div>
            <div class="container mt-5">
                <div class="row mb-4">
                    <div class="col-12">
                        <h5 class="mb-4">Data Diri</h5>

                        <form method="POST" action="#" th:action="@{/data_diri/store}" th:object="${data_diri}">
                            <div class="form-group">
                                <label for="example-todo-title">Nama</label>
                                <input th:field="*{nama}" type="text" class="form-control" id="example-todo-title" aria-describedby="emailHelp" placeholder="Masukan Nama Anda" required>
                                <small id="emailHelp" class="form-text text-muted"></small>
                            </div>

                            <div class="form-group">
                                <label for="example-todo-desc">Tanggal Lahir</label>
                               <input th:field="*{tanggal_lahir}" type="text" class="form-control" id="example-todo-title" aria-describedby="emailHelp" placeholder="yy/mm/dd" required>
                                <small id="emailHelp" class="form-text text-muted">Masukan Tanggal Sesuai dengan Format di atas.</small>
                            </div>
                            
                            <div class="form-group">
                                <label for="example-todo-desc">Alamat</label>
                               <input th:field="*{alamat}" type="text" class="form-control" id="example-todo-title" aria-describedby="emailHelp" placeholder="Masukan Alamat" required>
                                <small id="emailHelp" class="form-text text-muted">Masukan Alamat Secara Lengkap</small>
                            </div>
                            
                            <div class="form-group">
                                <label for="example-todo-desc">Email</label>
                              <input th:field="*{email}" type="text" class="form-control" id="example-todo-title" aria-describedby="emailHelp" placeholder="Masukan Email Anda" required>
                                <small id="emailHelp" class="form-text text-muted">.</small>
                            </div>
                            
                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>



        <div th:replace="includes/base  :: footer"></div>

        <div th:replace="includes/base  :: scripts"></div>
    </body>
</html>